* {
    margin: 0px;
    padding: 0px;
}


/* work sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style */

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.text-light-gary {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

/* header styles */

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.banner-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    padding-top: 30px;
    padding-bottom: 32px;
}

.banner img {
    margin-top: 50px;
    width: 100%;
}

/* main styles */
main {
    max-width: 1440px;
    margin: 85px auto;
}

/* teams section styles */

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
    padding-bottom: 24px;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500px;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700px;
}

.teams-description {
    padding-bottom: 32px;
    width: 537px;
}

/* features section styles */

.features {
    display: flex;
    margin-top: 130px;
    gap: 140px;
}

.features-title {
    margin-top: 60px;
    margin-bottom: 24px;
    color: #131313;
    font-size: 2.813rem;
    font-weight: 700;
    border-left: #FF900E solid 5px;
    padding-left: 21px;
}

.card {
    margin-top: 30px;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    width: 586px;
    height: 171px;
    gap: 100px;
}

.cards-title {
    padding-top: 30px;
    padding-left: 33px;
    padding-bottom: 10px;
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600px;
}

.cards-description {
    padding-left: 30px;
    padding-right: 42px;
}

.ten-year-badge {
    width: 342px;
    height: 200px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    padding: 45px 42px;
    text-align: center;
    position: relative;
    right: 90px;
    bottom: 100px;
}

.ten-year-badge h4 {
    font-size: 4.063rem;
    margin: 0px;
    padding-top: 45px;
}

.ten-year-badge p {
    font-size: 1.5rem;
    padding-bottom: 42px;
}

/* facts section style */
.facts-cards-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.facts-description {
    margin-top: 24px;
}

.facts-card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 46px 37px 60px 37px;
}

.card-stats {
    color: #424242;
    font-size: 2.813rem;
    font-weight: 600px;
    /* margin-bottom: 10px; */
}

.card-title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600px;
}

/* sponspors section style */

.sponspors {
    margin-top: 180px;
    text-align: center;
}

.sponspors-title {
    color: #131313;
    font-size: 2.813rem;
    font-weight: 700;
}
.sponspors-description{
    margin-top: 24px;
}
.sponspors-img-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 40px;
}







/* responsive media queries */

/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .features,
    .facts-cards-container, 
    .sponspors-img-container
    {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-description {
        width: auto;
    }

    .features-content,
    .teams-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .card {
        width: auto;
    }

    .features-img-container img {
        width: 100%;
        margin: auto;
    }

    .ten-year-badge {
        width: 85%;
        position: static;
    }

    .facts-title {
        margin-top: 50px;
        margin-bottom: 20px;
        padding-left: 20px;
    }

    .facts-description {
        width: auto;
        padding-left: 20px;
    }

}

/* medium devicse */
@media screen and (min-width:576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .features,
    .sponspors-img-container
    {
        flex-direction: column;
    }

    .features-content {
        padding-right: 20px;
        padding-left: 20px;
    }

    .features-img-container img {
        width: 100%;
        margin: auto;
    }

    .ten-year-badge {
        width: 89.5%;
        position: static;
    }

    .facts-title {
        margin-top: 50px;
        margin-bottom: 20px;
        padding-left: 20px;
    }

    .facts-description {
        width: auto;
        padding-left: 20px;
    }
}